.wrapper {
  background-color: #ED6C52;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10vw;
  padding-right: 10vw;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 50px;
}

.titleWrapper {
}

.title {
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
}

.sectionWrapper {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 10px;
}

.sectionTitle {
  color: #FFFFFF;
  font-size: 18px;
  margin: 0;
  padding-bottom: 20px;
}

.link {
  color: #FFFFFF;
  text-decoration: none;
}

.link:hover {
  color: #FFFFFF;
  text-decoration: underline;
}